[Unit]
Description=WireGuard First-Boot Init
After=network-online.target google-guest-agent.service
Wants=network-online.target
ConditionPathExists=!/var/lib/wg-init.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
