<form
  method="POST"
  action="{{ url_for('cms.create_user_group', app_name=app_name) }}"
>
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>Create User Group</legend>
    {{form.application(class="visually-hidden")}} {{
    form.name.label(class="form-label") }}
    <div class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        {{ form.name(class="form-control", placeholder=form.name.label.text) }}
        {% for error in form.name.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-12">{{ form.submit(class="btn btn-dark") }}</div>
    </div>
  </fieldset>
</form>
