<form
  method="POST"
  action="{{ url_for('cms.update_app_name', app_name=app_name) }}"
  class="my-4"
>
  {{ updateAppForm.hidden_tag() }}
  <fieldset>
    <legend>Update App</legend>
    <div class="input-group">
      <div class="form-floating">
        {{ updateAppForm.name(class="form-control",
        placeholder=updateAppForm.name.label.text) }} {{
        updateAppForm.name.label() }}
      </div>
      {% for error in updateAppForm.name.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %} {{ updateAppForm.submit(class="btn btn-primary") }}
    </div>
  </fieldset>
</form>
