<form
  method="POST"
  action="{{ url_for('cms.update_app_name', app_name=app_name) }}"
  class="my-4"
>
  {{ updateAppForm.hidden_tag() }}
  <fieldset>
    {{ updateAppForm.name.label(class="form-label") }}
    <div class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        {{ updateAppForm.name(class="form-control",
        placeholder=updateAppForm.name.label.text) }} {% for error in
        updateAppForm.name.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-12">{{ updateAppForm.submit(class="btn btn-dark") }}</div>
    </div>
  </fieldset>
</form>
