<div class="col-12 col-sm-6 mb-4">
  <div class="card h-100">
    <img
      src="{{url_for('static', filename='images/ttc.jpg')}}"
      class="card-img-top"
      alt="Toronto"
    />
    <div class="card-body">
      <h5 class="card-title">Service Alerts</h5>
      <a
        href=" https://www.ttc.ca/service-alerts"
        class="stretched-link"
        target="_blank"
      ></a>
    </div>
  </div>
</div>

<div class="col-12 col-sm-6 mb-4">
  <div class="card h-100">
    <img
      src="{{url_for('static', filename='images/ttc.jpg')}}"
      class="card-img-top"
      alt="Toronto"
    />
    <div class="card-body">
      <h5 class="card-title">Email Alerts</h5>
      <a
        href="https://www.ttc.ca/my-ttc-eservices"
        class="stretched-link"
        target="_blank"
      ></a>
    </div>
  </div>
</div>

<div class="col-12 col-sm-6 mb-4">
  <div class="card h-100">
    <img
      src="{{url_for('static', filename='images/ttc.jpg')}}"
      class="card-img-top"
      alt="Toronto"
    />
    <div class="card-body">
      <h5 class="card-title">Twitter Service Alerts</h5>
      <a
        href="https://twitter.com/ttcnotices?lang=en"
        class="stretched-link"
        target="_blank"
      ></a>
    </div>
  </div>
</div>
