{% extends 'layout.html' %} {% block content %} {% if request.endpoint ==
'store.cart_item_update' %}
<h1>Edit Cart Item</h1>
<hr />
{% endif %}
<div class="row">
  <div class="col-md-6">
    <img
      class="img-fluid"
      {%
      if
      item
      %}
      src="{{ url_for('static', filename='images/store/products/' + item.product.image_file) }}"
    />
    {% else %} src="{{ url_for('static', filename='images/store/products/' +
    product.image_file) }}"> {% endif %}
  </div>
  <div class="col-md-6">
    <h3>{{ item.product.name if item else product.name}}</h3>
    <h5>
      ${{'%0.2f' | format(item.product.price if item else product.price|float)}}
      CAD
    </h5>
    <hr />
    <p>{{ item.product.description if item else product.price }}</p>
    <hr />
    {% include 'forms/product-form.html' %}
  </div>
</div>
{% endblock %}
