<div class="newsletter-subscription max-w-xl mx-auto bg-white shadow-none rounded p-8">
  <form (ngSubmit)="subscribe()">
    <div class="flex items-center mb-4">
      <label for="" class="mr-2">
        {{ 'EMAIL_SUBSCRIPTION_FORM.LABEL' | translate }}
      </label>
      <input type="email" id="email" name="email" [(ngModel)]="form.email" required
        class="border rounded py-2 px-3 w-3/4 focus:outline-none focus:border-blue-400 mr-2"
        [placeholder]="'EMAIL_SUBSCRIPTION_FORM.PLACEHOLDER' | translate" />
      <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 w-1/4">
        {{ 'EMAIL_SUBSCRIPTION_FORM.BUTTON_TEXT' | translate }}
      </button>
    </div>
  </form>
</div>