<form action="{{ url_for('index') }}" method="post">
  <div class="mb-4">
    <label for="email" class="form-label">Email:</label>
    <input
      class="form-control shadow"
      type="email"
      name="email"
      id="email"
      required
    />
  </div>
  <div class="mb-4">
    <label class="form-label"
      >Select Toronto Police Service Divisions (optional):</label
    ><br />
    <div class="overflow-auto card mb-4 shadow" style="max-height: 200px">
      {% for district in TPS_DIVISIONS %}
      <div class="border-bottom p-2">
        <input
          class="form-check-input"
          type="checkbox"
          name="divisions"
          value="{{ district.name }}"
          id="{{ district.name }}"
        />
        <label for="{{ district.name }}" class="form-check-label"
          >{{ district.name }} - {{district.location}}</label
        ><br />
      </div>
      {% endfor %}<br />
    </div>
    <label class="form-label"
      >Select Toronto Fire Service Stations (optional):</label
    ><br />
    <div class="overflow-auto card mb-4 shadow" style="max-height: 200px">
      {% for district in TFS_STATIONS %}
      <div class="border-bottom p-2">
        <input
          class="form-check-input"
          type="checkbox"
          name="stations"
          value="{{ district.name }}"
          id="{{ district.name }}"
        />
        <label for="{{ district.name }}" class="form-check-label"
          >{{ district.name }} - {{district.location}}</label
        ><br />
      </div>
      {% endfor %}<br />
    </div>
  </div>
  <div class="mb-4">
    <label for="keywords" class="form-label"
      >Key words (optional, enter comma separated keywords that you are
      interested in for your filter):</label
    >
    <textarea
      name="keywords"
      class="form-control"
      id="keywords"
      rows="3"
    ></textarea>
  </div>
  <button class="btn btn-primary w-100" type="submit">Submit</button>
  {{ recaptcha }}
</form>
