@tailwind base;
@tailwind components;
@tailwind utilities;

// .grecaptcha-badge {
//   visibility: hidden;
// }

// TODO: replace with an actual image
.orange-circle {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}
