<app-centered-app-layout>
  <h1 class="pt-4 mb-4 text-2xl font-bold text-center">Vibecheck Lite</h1>
  <hr />
  <app-card>
    <div class="text-sm" *ngIf="recommendation$ | async as data; else loading">
      <p [innerText]="data"></p>
    </div>
  </app-card>
  <ng-template #loading>
    <div class="text-sm pt-48 pb-48">
      <lib-loading-spinner
        [header]="'Loading...'"
        [message]="
          'Please enable location access. We will use your weather location to determine an appropriate outfit.'
        "
      >
      </lib-loading-spinner>
    </div>
  </ng-template>
</app-centered-app-layout>
