<app-general-layout>
  <div class="w-11/12 lg:w-2/3 mx-auto pt-8 pb-8">
    <h1 class="text-lg mb-2">{{'Services'}}</h1>
    <p class="text-sm mb-2">
      {{'Professional web developer capable of handling your web
      site/application needs. Always open to hearing about new and interesting
      opportunities so feel free to contact me.'}}
    </p>
    <p class="text-sm mb-2">
      Proficient with Javascript and Python<br />
      Frameworks: React, Angular, Express, Django, Flask
    </p>

    <p class="text-sm mb-2">
      Github:
      <a href="https://github.com/iamharryliu"
        >https://github.com/iamharryliu</a
      >
    </p>
  </div>
</app-general-layout>
