# NextAuth API
NEXTAUTH_SECRET="NEXTAUTH_SECRET"
NEXTAUTH_URL="NEXTAUTH_URL"
# Google Auth/Tasks API
GOOGLE_AUTH_PROVIDER_CLIENT_ID="GOOGLE_AUTH_PROVIDER_CLIENT_ID"
GOOGLE_AUTH_PROVIDER_CLIENT_SECRET="GOOGLE_AUTH_PROVIDER_CLIENT_SECRET"
# Weather API
OPENWEATHER_API_KEY="OPENWEATHER_API_KEY"
# VB Express API
VB_EXPRESS_API_KEY="VB_EXPRESS_API_KEY"
VB_EXPRESS_URL="http://localhost:3333"
# Email Service API
EMAIL_SERVICE_URL="http://localhost:3000"
EMAIL_SERVICE_API_KEY="EMAIL_SERVICE_API_KEY"
# Stripe API
STRIPE_API_KEY="STRIPE_API_KEY"
# Socket Server (chat demo)
NEXT_PUBLIC_SOCKET_SERVER_URL="https://localhost:3443"
SOCKET_SERVER_URL="https://localhost:3443"
SOCKET_SERVER_CA_CERT="SOCKET_SERVER_CA_CERT"
SHARED_APP_TOKEN="SHARED_APP_TOKEN"
