{% extends 'layouts/dashboard_layout.html' %} {% block dashboard_content %}
<div class="mb-4">
  <h1>General</h1>
  {% include 'forms/update_app_form.html' %} {% include
  'forms/create_user_group_form.html' %} {% if user_groups %}
  <ul class="list-group my-3">
    <li
      class="list-group-item list-group-item-action list-group-item-dark active"
    >
      <span>User Groups</span>
    </li>
    {% for user_group in user_groups %}
    <a
      class="list-group-item list-group-item-action"
      href="{{url_for('cms.user_group_details', app_name=app_name, user_group_name=user_group.name)}}"
      >{{user_group.name}}</a
    >
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div>
  <h1>Danger</h1>
  {%include 'forms/delete_app_button.html' %}
</div>
{% endblock %}
