{% extends 'layouts/layout.html' %} {% block content %}
<div class="my-2">
  <h1 class="d-inline">Your Apps</h1>
  <a href="{{url_for('cms.create_app')}}" class="btn btn-outline-dark float-end"
    >Add App</a
  >
</div>
<ul class="list-group my-2">
  <li class="list-group-item bg-dark text-white">
    <span>Apps</span>
  </li>
  {% for app in apps %}
  <a
    href="{{url_for('cms.dashboard', app_name=app)}}"
    class="list-group-item list-group-item-action"
    >{{ app }}</a
  >
  {% endfor %}
</ul>
{% endblock %}
