{% extends 'layouts/layout.html' %} {% block content %}
<div class="my-2">
  <h4 class="d-inline">Your Apps</h4>
  <a href="{{url_for('cms.create_app')}}" class="btn btn-sm btn-dark float-end"
    >Add App</a
  >
</div>
<div class="card my-3">
  <div class="card-header">Apps</div>
  <ul class="list-group list-group-flush">
    {% for app in apps %}
    <a
      href="{{url_for('cms.dashboard', app_name=app.name)}}"
      class="list-group-item list-group-item-action"
      >{{ app.name }}</a
    >
    {% endfor %}
  </ul>
</div>
{% endblock %}
