{% extends 'layouts/layout.html' %} {% block content %}
<h1>User Details - {{user.username}}</h1>

<div class="card my-3">
  <div class="card-header">Applications</div>
  <ul class="list-group">
    {% for app in user.get_applications() %}
    <a
      class="list-group-item list-group-item-action"
      href="{{ url_for('cms.app_settings', app_name=app.name) }}"
    >
      {{app.name}}
    </a>
    {% endfor %}
  </ul>
</div>
{% include 'forms/update_user_form.html' %}
<form
  action="{{ url_for('cms.delete_user', username=user.username) }}"
  method="POST"
  onsubmit="return confirm('Are you sure you want to delete {{user.username}}?');"
  class="my-3"
>
  <legend>Delete User</legend>
  <button type="submit" class="btn btn-danger float-right">Delete User</button>
</form>
{% endblock %}
