{% extends 'layouts/layout.html' %} {% block content %}
<h1>User Group Details - {{user_group.name}}</h1>
<div class="my-3">
  <h2 class="d-inline">Users</h2>
  <a
    href="{{url_for('cms.dashboard', app_name=app_name)}}"
    class="btn btn-sm btn-outline-dark float-end"
    >Add User To Group</a
  >
  <hr />
</div>
<p>Members of user group <em>{{user_group.name}}</em>.</p>
<ul class="list-group">
  {% for user in user_group.users %}
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('cms.user_details', username=user.username) }}"
  >
    {{user.username}}
  </a>
  {% endfor %}
</ul>
{% include 'forms/create_user_form.html' %} {% include
'forms/delete_user_group_button.html' %} {% endblock %}
