{% extends 'layouts/layout.html' %} {% block content %}
<h1>User Group Details - {{user_group.name}}</h1>
<div class="my-2">
  <h4 class="d-inline">Users in Group</h4>
  <a
    href="{{url_for('cms.create_user_for_user_group', app_name=app_name, user_group_name=user_group.name)}}"
    class="btn btn-sm btn-dark float-end"
    >Add User To Group</a
  >
</div>
{% if user_group.users %}
<p>Members of user group <em>{{user_group.name}}</em>.</p>
<div class="card">
  <div class="card-header">Users</div>
  <ul class="list-group list-group-flush">
    {% for user in user_group.users %}
    <a
      class="list-group-item list-group-item-action"
      href="{{ url_for('cms.user_details', username=user.username) }}"
    >
      {{user.username}}
    </a>
    {% endfor %}
  </ul>
</div>
{% else %}
<em>Currently no users in this group.</em>
{% endif %} {% endblock %}
