{% extends 'layouts/layout.html' %} {% block content %}
<h1>User Details - {{user.username}}</h1>
{% if user.count_applications() > 0 %}
<div class="my-3">
  <h2>User applications</h2>
  <div class="card">
    <div class="card-header">Applications</div>
    <ul class="list-group list-group-flush">
      {% for app in user.get_applications() %}
      <a
        class="list-group-item list-group-item-action"
        href="{{ url_for('cms.app_settings', app_name=app.name) }}"
      >
        {{app.name}}
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %} {% include 'forms/update_user_form.html' %} {% include
'forms/delete_user_button.html' %} {% endblock %}
