{% extends 'layouts/layout.html' %} {% block content %}

<div class="card">
  <div class="card-header">
    <span>Users</span
    ><a
      href="{{url_for('cms.create_user')}}"
      class="btn btn-sm btn-dark float-end"
      >Create User</a
    >
  </div>
  <ul class="list-group list-group-flush">
    {% for user in users %}
    <a
      href="{{url_for('cms.user_details', username=user.username)}}"
      class="list-group-item list-group-item-action"
    >
      {{user.username}}
    </a>
    {% endfor %}
  </ul>
</div>

{% endblock %}
