{% extends 'components/layout.html' %} {% block content %}
<h1>Dashboard</h1>
{% include 'navtabs.html' %}
<div class="row">
  <div class="col-12 col-lg-2 mb-3">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action list-group-item-secondary disabled"
        >Calendar</a
      >
      <!-- <a href="#" class="list-group-item list-group-item-action">Another
                item</a> -->
    </div>
  </div>
  <div class="col-12">{% include 'forms/content_form.html' %}</div>
</div>
{% endblock %}
