<footer class="pt-4 pb-4">
  <div class="grid lg:grid-cols-4">
    <div class="text-xl pb-4">
      <span>based in toronto</span><br />
      <span>harryliu.design</span><br />
    </div>
    <div></div>
    <div>
      <div class="pb-4">
        <h3 class="text-lg pb-1">
          {{ 'FOOTER.SITE_MAP.HEADER' | translate }}
        </h3>
        <div *ngFor="let LINK of FOOTER.SITE_MAP.LINKS">
          <a class="text-md hover:text-gray-400" [routerLink]="LINK.ROUTER_LINK">
            {{ LINK.TEXT | translate }}</a><br />
        </div>
      </div>
      <div class="pb-4">
        <h3 class="text-lg pb-1">
          {{ 'LINKS.CAREER.HEADER' | translate }}
        </h3>
        <div *ngFor="let LINK of FOOTER.CAREER.LINKS">
          <a class="text-md hover:text-gray-400" [href]="LINK.URL | translate">
            {{ LINK.TEXT | translate }} </a><br />
        </div>
      </div>
    </div>

    <div class="pb-4">
      <h3 class="text-lg pb-1">
        {{ 'LINKS.INSTAGRAM.HEADER' | translate }}
      </h3>
      <div *ngFor="let LINK of FOOTER.INSTAGRAM.LINKS">
        <a class="text-md hover:text-gray-400" [href]="LINK.URL"> {{ LINK.TEXT | translate }}</a><br />
      </div>
    </div>
  </div>
</footer>