<nav class="bg-gray-300">
  <div class="grid grid-cols-4 gap-4">
    <div>
      <h3>
        {{ 'FOOTER.CAREER.HEADER' | translate}}
      </h3>
      <a [href]="'FOOTER.CAREER.LINKEDIN.URL' | translate">
        {{ 'FOOTER.CAREER.LINKEDIN.DESC' | translate}}
      </a><br />
      <a [href]="'FOOTER.CAREER.GITHUB.URL' | translate">
        {{ 'FOOTER.CAREER.GITHUB.DESC' | translate}}
      </a>
    </div>

    <div>
      <h3>
        {{ 'FOOTER.INSTAGRAM.HEADER' | translate}}
      </h3>
      <a [href]="'FOOTER.INSTAGRAM.PERSONAL.URL' | translate">
        {{ 'FOOTER.INSTAGRAM.PERSONAL.DESC' | translate}}
      </a><br />
      <a [href]="'FOOTER.INSTAGRAM.SECONDHAND_STORE.URL' | translate">
        {{ 'FOOTER.INSTAGRAM.SECONDHAND_STORE.DESC' | translate}}
      </a><br />
      <a [href]="'FOOTER.INSTAGRAM.ROLLERBLADE.URL' | translate">
        {{ 'FOOTER.INSTAGRAM.ROLLERBLADE.DESC' | translate}}
      </a>
    </div>
  </div>
</nav>