<nav class="bg-gray-300">
  <div class="grid grid-cols-4 gap-4">
    <div>
      <span>harryliu.design</span><br />
      <span>harryliu.design</span><br />
      <span>harryliu.design</span><br />
      <span>harryliu.design</span><br />
      <span>harryliu.design</span><br />
    </div>
    <div></div>
    <div>
      <h3>
        {{ FOOTER.CAREER.HEADER | translate }}
      </h3>
      <div *ngFor="let LINK of FOOTER.CAREER.LINKS">
        <a [href]="LINK.URL | translate"> {{ LINK.TEXT | translate }} </a><br />
      </div>

      <h3>
        {{ 'FOOTER.SITE_MAP.HEADER' | translate }}
      </h3>
      <div *ngFor="let LINK of FOOTER.SITE_MAP.LINKS">
        <a [routerLink]="LINK.ROUTER_LINK"> {{ LINK.TEXT | translate }}</a
        ><br />
      </div>
    </div>

    <div>
      <h3>
        {{ 'FOOTER.INSTAGRAM.HEADER' | translate }}
      </h3>
      <div *ngFor="let LINK of FOOTER.INSTAGRAM.LINKS">
        <a [href]="LINK.URL"> {{ LINK.TEXT | translate }}</a
        ><br />
      </div>
    </div>
  </div>
</nav>
