<div class="flex">
  <div
    class="h-screen overflow-y-scroll w-full md:w-1/4 pl-3 pt-2 border-r-2"
    [class.hidden]="appService.isMobile && pageService.isFileSelected">
    <div class="mb-2">
      <lib-link [link]="indexLink" [isBold]="true" type="internal"></lib-link>
    </div>
    <h1 class="text-xl font-bold mb-2">Grind 75</h1>
    <ng-container *ngIf="fileContent$ | async as rootFolder">
      <lib-folder-item
        *ngFor="let folderItem of rootFolder.children"
        [item]="folderItem"
        (fileEmitter)="pageService.selectFile($event.filepath)"
        [isTitleCase]="true"></lib-folder-item>
    </ng-container>
  </div>
  <div
    class="h-screen overflow-y-scroll w-full md:block md:w-3/4 pl-4 pr-4 pt-4"
    [class.hidden]="appService.isMobile && !pageService.isFileSelected"
    *ngIf="pageService.selectedContent$ | async as content">
    <pre>
      <code [innerHTML]="content"></code>
    </pre>
  </div>
  <div
    class="absolute top-0 right-0 m-4 cursor-pointer"
    [class.hidden]="
      (appService.isMobile && !pageService.isFileSelected) ||
      appService.isBrowser
    "
    (click)="close()">
    <div>X</div>
  </div>
</div>
