{% extends 'components/layout.html' %} {% block content %}
<form method="POST" action="{{ url_for('users.register') }}">
  {{ form.hidden_tag() }}
  <legend>Register</legend>
  <div class="mb-3">
    {{ form.username.label(class="form-label") }} {% if form.username.errors %}
    {{ form.username(class="form-control is-invalid", autocomplete="off",
    placeholder="Username") }}
    <div class="invalid-feedback">
      {% for error in form.username.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.username(class="form-control", autocomplete="off",
    placeholder="Username") }} {% endif %}
  </div>
  <div class="mb-3">
    {{ form.email.label(class="form-label") }} {% if form.email.errors %} {{
    form.email(class="form-control is-invalid", autocomplete="off",
    placeholder="Email") }}
    <div class="invalid-feedback">
      {% for error in form.email.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.email(class="form-control", autocomplete="off",
    placeholder="Email") }} {% endif %}
  </div>
  <div class="mb-3">
    {{ form.password.label(class="form-label") }} {% if form.password.errors %}
    {{ form.password(class="form-control is-invalid", placeholder="Password") }}
    <div class="invalid-feedback">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.password(class="form-control", placeholder="Password") }}
    {% endif %}
  </div>
  <div class="mb-3">
    {{ form.confirm_password.label(class="form-label") }} {% if
    form.confirm_password.errors %} {{ form.confirm_password(class="form-control
    is-invalid", placeholder="Password") }}
    <div class="invalid-feedback">
      {% for error in form.confirm_password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.confirm_password(class="form-control",
    placeholder="Password") }} {% endif %}
  </div>
  <div class="form-group">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}
