<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GTA Update Alert</title>
  </head>
  <body>
    <h1>Subscribe to GTA Update Alerts</h1>
    <p>
      Subscribe to get hourly notifications for TPS and Toronto Fire Service
      alerts.
    </p>
    <small>
      Not affiliated with Toronto Police Services, Toronto Fire Services, or The
      City of Toronto - In case of Emergency call 911. Utilizes
      <a href="https://gtaupdate.com/">https://gtaupdate.com/</a> by Iain J.
      Grant.
    </small>
    <form action="/submit" method="post">
      <label for="email">Enter your email:</label>
      <input type="email" name="email" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
