<div class="min-h-screen">
  <app-centered-app-layout>
    <div class="text-center pt-8 mb-8">
      <div class="flex justify-center mb-6">
        <img id="profile-picture" src="assets/profile-picture.jpg" />
      </div>
      <h1 class="text-3xl">Harry Liu</h1>
    </div>
    <div class="space-y-2 mb-8">
      <div *ngFor="let link of LINKS" class="text-center">
        <lib-button-link [link]="link" type="external"></lib-button-link>
      </div>
    </div>
  </app-centered-app-layout>
</div>
