<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 pt-8">
  <h1 class="text-center text-2xl font-bold mb-4">Repeat Timer</h1>
  <p class="text-center text-lg mb-4">
    Timer Set for: {{ hours | number: '2.0' }}h{{ minutes | number: '2.0' }}m{{
      seconds | number: '2.0'
    }}s
  </p>
  <div class="grid grid-cols-8 gap-4 mb-4">
    <ng-container *ngFor="let minute of minuteOptions">
      <button
        class="col-span-1 bg-blue-500 text-white px-4 py-2 rounded"
        (click)="addMinutes(minute)"
      >
        +{{ minute }}
      </button>
    </ng-container>
  </div>
  <button
    class="block w-full text-white bg-black font-semibold px-4 py-2 rounded mb-2"
    (click)="startTimer()"
    [disabled]="isTimerRunning || interval <= 0"
  >
    Start
  </button>
  <button
    class="block w-full text-white bg-black font-semibold px-4 py-2 rounded mb-2"
    (click)="stopTimer()"
    [disabled]="!isTimerRunning"
  >
    Stop
  </button>
  <button
    class="block w-full text-white bg-black font-semibold px-4 py-2 rounded"
    (click)="resetTimer()"
  >
    Reset
  </button>
</div>
