<app-general-layout>
  <div class="h-dvh relative">
    <img
      class="absolute w-full h-full object-contain"
      src="assets/cloud8skate.png"
      alt="Wallpaper" />
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 mx-auto bg-blue-500 bg-opacity-60 rounded-lg"
      style="max-width: 800px; width: 90vw">
      <div class="mb-2">
        <h1 class="text-white text-center text-2xl lg:text-5xl font-extrabold">
          Cloud8
        </h1>
        <h2 class="text-white mb-4 text-lg lg:text-xl text-center italic">
          Our heads are in the clouds.
        </h2>
      </div>
      <div class="flex justify-center">
        <button
          (click)="scrollTo('about-section')"
          class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-blue-500 rounded-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 text-xs lg:text-basic">
          About
        </button>
        <a
          routerLink="/calendar"
          class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-blue-500 rounded-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 text-xs lg:text-basic">
          Calendar
        </a>
        <a
          [href]="EXTERNAL_LINKS.CLOUD_8_SKATE_IG.url.external"
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-blue-500 rounded-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 text-xs lg:text-basic">
          Instagram
        </a>
      </div>
    </div>
    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
      <button (click)="scrollTo('about-section')" class="btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7" />
        </svg>
      </button>
    </div>
  </div>
  <div class="lg:w-1/2 mx-auto pt-8 pb-8">

    <div class="flex h-dvh relative pl-2 pr-2" id="about-section">
      <div class="w-full m-auto">
        <lib-markdown-page [filepath]="contentFilepath"></lib-markdown-page>
      </div>
      <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
        <button (click)="scrollTo('calendar-section')" class="btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex h-dvh relative pl-2 pr-2" id="calendar-section">
      <div class="w-full m-auto">
        <app-calendar-section></app-calendar-section>
      </div>
      <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
        <button (click)="scrollTo('contact-section')" class="btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex h-dvh" id="contact-section">
      <div class="w-full m-auto">
        <app-contact-section></app-contact-section>
      </div>
    </div>
  </div>
</app-general-layout>
