<div class="relative h-screen">
  <img
    class="absolute w-full h-full object-cover"
    src="assets/wallpaper.jpg"
    alt="Wallpaper" />
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 mx-auto bg-black bg-opacity-50 rounded-lg"
    style="max-width: 800px; width: 90vw">
    <div class="mb-8">
      <h1 class="text-5xl font-extrabold text-white text-center">
        Cloud8Skate
      </h1>
      <h2 class="text-white mb-4 text-xl text-center italic">
        Our heads are in the clouds.
      </h2>
    </div>
    <div class="flex justify-center">
      <a
        [href]="EXTERNAL_LINKS.CLOUD_8_SKATE_IG.url.external"
        target="_blank"
        class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-black rounded-lg hover:bg-stone-800 focus:ring-4 focus:ring-stone-300 dark:focus:ring-stone-900">
        Cloud8Skate
      </a>
      <a
        [href]="EXTERNAL_LINKS.TORONTO_CITY_SKATE_IG.url.external"
        target="_blank"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-black rounded-lg hover:bg-stone-800 focus:ring-4 focus:ring-stone-300 dark:focus:ring-stone-900">
        TorontoCitySkate
      </a>
    </div>
  </div>
</div>
<div class="lg:w-1/2 mx-auto pt-8 pb-8">
  <app-contact-section></app-contact-section>
</div>
