<app-general-layout>
  <div class="relative h-screen">
    <img
      class="absolute w-full h-full object-contain"
      src="assets/cloud8skate.png"
      alt="Wallpaper" />
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 mx-auto bg-black bg-opacity-50 rounded-lg"
      style="max-width: 800px; width: 90vw">
      <div class="mb-8">
        <h1 class="text-5xl font-extrabold text-white text-center">
          Cloud8Skate
        </h1>
        <h2 class="text-white mb-4 text-xl text-center italic">
          Our heads are in the clouds.
        </h2>
      </div>
      <div class="flex justify-center">
        <a
          [href]="EXTERNAL_LINKS.CLOUD_8_SKATE_IG.url.external"
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-black rounded-lg hover:bg-stone-800 focus:ring-4 focus:ring-stone-300 dark:focus:ring-stone-900">
          Cloud8Skate
        </a>
        <a
          [href]="EXTERNAL_LINKS.TORONTO_CITY_SKATE_IG.url.external"
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-black rounded-lg hover:bg-stone-800 focus:ring-4 focus:ring-stone-300 dark:focus:ring-stone-900">
          TorontoCitySkate
        </a>
      </div>
    </div>
  </div>

  <div class="lg:w-1/2 mx-auto pt-8 pb-8">
    <app-contact-section></app-contact-section>
  </div>

  <div class="columns-3 ps-4 pe-4">
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/9ea4579e1c17b78fc36a844f2b515a94e5828400290070f45c5ea11c71384b7b/Kylie_Disco_Web_RGB-1800x0-c-default.jpg" />
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/0ba861e5a2cfe78a1d7b38819b41ca7fe54174a70bd177485d5ab50e2dc791d1/StudioMoross_SpiceGirls_00.png" />
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/3d68c542c695c05d6c7ce09e190679d884126a38884e8d723c54758eaf8ca2ff/Disclosure-Brixton-Academy-4th-March-2022-by-Luke-Dyson-LD1_1723-1400x0-c-default.jpg" />
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/e27ac48a6febc52d3c5a48ab8133851293123c3a75445c0254922df158b48b7c/Crops.png" />
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/02c8661025035fab78f266731acc6a72a59b9e0a8b58abd253db23f7bb8255c8/Adobe_SplashPage_Kate_Moross_Final_Flat_2.png" />
    <img class="w-full mb-8"
      src="https://freight.cargo.site/w/1000/q/75/i/5084ece86bec65d4c4c3dc38619359522000a736a53e1293e258b34845a2bd21/Studio-Moross-London-Grammar-Ally-Pally-12th-November-2021-by-Luke-Dyson-LD2_0310-scaled-1800x0-c-default.jpg" />
  </div>
</app-general-layout>
