<app-general-layout>
  <div class="pt-8 pb-8">
    <lib-card>
      <div class="w-11/12 mx-auto">
        <div class="grid sm:grid-cols-12">
          <div class="col-span-12 md:col-span-2"></div>
          <div class="col-span-12 md:col-span-8">
            <h2 class="text-lg font-semibold mb-2">Vibecheck Lite</h2>
            <p class="mb-2 text-sm">
              Vibecheck Lite is a functional fashion-weather lifestyle tool to
              assist the user in deciding what to wear for the day based on the
              weather. Instead of traditionally checking the weather app and
              thinking about what's most appropriate to wear let us do that for
              you. We got you.
            </p>
            <div>
              <lib-link [link]="LINKS.VIBECHECK_LITE_APP"></lib-link>
            </div>
            <div>
              <lib-link [link]="LINKS.VIBECHECK_LITE_SUBSCRIBE"></lib-link>
            </div>
          </div>
          <div class="col-span-12 md:col-span-2"></div>
        </div>
      </div>
    </lib-card>
    <lib-card>
      <div class="grid md:grid-cols-12">
        <div class="col-span-12 md:col-span-5 flex items-center mb-2">
          <div class="w-11/12 mx-auto">
            <img
              src="/assets/mr_robot.jpg"
              alt="Image 3"
              class="w-auto h-auto p-0.5" />
          </div>
        </div>
        <div class="col-span-12 md:col-span-7 flex items-center mb-2">
          <div class="w-11/12 mx-auto">
            <h2 class="text-lg font-semibold mb-2">Software</h2>
            <p class="mb-2 text-sm">
              I'm a self taught software developer who managed to find his way
              into the tech industry. I've worked on some pretty badass projects
              so far and always looking forward to working on more. I genuinely
              love coding and would even go as far to say that I consider it
              more of a hobby than an occupation. It's more than just the code.
              It's design. It's elegant. It's pretty.
            </p>
            <div>
              <lib-link [link]="LINKS.LINKEDIN"></lib-link>
            </div>
            <div>
              <lib-link [link]="LINKS.RESUME"></lib-link>
            </div>
            <div>
              <lib-link [link]="LINKS.GITHUB"></lib-link>
            </div>
          </div>
        </div>
      </div>
    </lib-card>
    <lib-card>
      <div class="grid lg:grid-cols-2">
        <div class="flex items-center mb-2">
          <div class="w-11/12 mx-auto">
            <h2 class="text-lg font-semibold mb-2">Secondhand Lifestyle</h2>
            <p class="mb-2 text-sm">
              I'm a secondhand shopping addict but at the same time a minimalist
              which is quite the conundrum. To solve this problem I run a
              secondhand Instagram store and hold occasional clothing markets to
              buy, sell, trade, and give away clothes that are often accompanied
              by a partayyy.
            </p>
            <div>
              <lib-link [link]="LINKS.SECONDHAND_STORE_IG"></lib-link>
            </div>
          </div>
        </div>
        <div class="flex w-11/12 mx-auto">
          <div class="w-1/3">
            <img
              src="/assets/secondhand_store1.jpg"
              alt="Image 1"
              class="w-auto h-auto p-0.5" />
          </div>
          <div class="w-1/3">
            <img
              src="/assets/secondhand_store2.jpg"
              alt="Image 2"
              class="w-auto h-auto p-0.5" />
          </div>
          <div class="w-1/3">
            <img
              src="/assets/secondhand_store3.jpg"
              alt="Image 3"
              class="w-auto h-auto p-0.5" />
          </div>
        </div>
      </div>
    </lib-card>
  </div>
</app-general-layout>
