RESEND_API_KEY=

ALEXISHR_API_KEY=

CINODE_ACCESS_ID=
CINODE_ACCESS_SECRET=
# Used to get access token {Base64Encoded(AccessId:AccessSecret)}
CINODE_AUTH_TOKEN=
# From Get Cinode Access and Refresh Tokens
CINODE_ACCESS_TOKEN=
COMPANY_ID=
USER_ID=
ABSENCE_ID=

SLACKBOT_TOKEN=
