<app-navbar-section class="lg:hidden"></app-navbar-section>
<div class="lg:flex">
  <div
    class="h-min lg:h-screen w-full lg:w-2/5 border-r-2 lg:pt-24 pt-16 relative"
  >
    <div class="flex items-center h-fit lg:h-5/6">
      <div class="w-full">
        <div class="mb-6">
          <app-profile-card></app-profile-card>
        </div>
        <div class="flex justify-center space-x-4">
          <!-- TODO: Handle different display modes -->
          <!-- <a href="https://www.instagram.com/prettydamntired/" target="_blank">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </a> -->
          <a
            href="https://github.com/iamharryliu"
            target="_blank"
            class="transition-all duration-200 hover:scale-110 hover:text-blue-600 dark:hover:text-blue-400"
          >
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/iamharryliu/"
            target="_blank"
            class="transition-all duration-200 hover:scale-110 hover:text-blue-700 dark:hover:text-blue-500"
          >
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </a>
          <a
            [routerLink]="LINKS.CONTACT_PAGE.url.internal"
            class="transition-all duration-200 hover:scale-110 hover:text-blue-600 dark:hover:text-blue-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect width="20" height="16" x="2" y="4" rx="2" />
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
            </svg>
          </a>
          <a
            [href]="LINKS.LINK_TREE.url.external"
            target="_blank"
            class="transition-all duration-200 hover:scale-110 hover:text-blue-600 dark:hover:text-blue-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              />
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              />
            </svg>
          </a>
          <a
            [routerLink]="LINKS.CALENDAR_PAGE.url.internal"
            class="transition-all duration-200 hover:scale-110 hover:text-blue-600 dark:hover:text-blue-400"
          >
            <i class="fa-solid fa-calendar fa-xl"></i>
          </a>
          @if (ENVIRONMENT.JOB_HUNT_MODE) {
            <a
              href="https://www.linkedin.com/in/iamharryliu/"
              target="_blank"
              class="transition-all duration-200 hover:scale-110 hover:text-blue-700 dark:hover:text-blue-500"
            >
              <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
          }
          <app-toggle-dark-mode-button></app-toggle-dark-mode-button>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:h-screen lg:overflow-y-scroll w-full lg:w-3/5 relative">
    <app-navbar-section class="invisible lg:visible"></app-navbar-section>
    <div #ref><ng-content></ng-content></div>
  </div>
</div>
