<app-navbar class="lg:hidden"></app-navbar>
<div class="lg:flex">
  <div class="h-min lg:h-screen w-full lg:w-2/5 border-r-2 lg:pt-24 pt-16">
    <div class="flex items-center h-fit lg:h-5/6">
      <div class="w-full">
        <div class="flex justify-center mb-6">
          <img id="profile-picture" src="assets/profile-picture.jpg" />
        </div>
        <h1 class="text-center mb-6 text-2xl">harryliu.design</h1>
        <p class="text-center mb-6">I code sometimes.</p>

        <div class="flex justify-center space-x-4">
          <a href="https://www.linkedin.com/in/iamharryliu/" target="_blank">
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </a>
          <a href="https://github.com/iamharryliu" target="_blank">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
          <a href="https://www.instagram.com/prettydamntired/" target="_blank">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
          <a href="mailto: harryliu1995@gmail.com">
            <i class="fa-solid fa-envelope fa-xl"></i>
          </a>
          <a [routerLink]="LINKS.LINK_TREE.url.internal">
            <i class="fa-solid fa-link fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
    <p
      class="absolute bottom-0 text-center w-2/5 text-gray-700 text-xs hidden lg:block"
    >
      Copyright © 2023 · harryliu.design
    </p>
  </div>
  <div class="lg:h-screen lg:overflow-y-scroll w-full lg:w-3/5">
    <app-navbar class="invisible lg:visible"></app-navbar>
    <div #ref><ng-content></ng-content></div>
  </div>
</div>
