<div class="lg:flex">
  <div class="h-min lg:h-screen w-full lg:w-2/5 border-r-2">
    <div class="flex items-center h-fit lg:h-5/6">
      <div class="w-full">
        <div class="flex w-full justify-center mb-6">

          <!-- TODO: replace with an actual image -->
          <div class="orange-circle"></div>
        </div>
        <h1 class="text-center mb-6 text-2xl">harryliu.design </h1>
        <p class="text-center mb-6">I have too many hobbies.</p>

        <div class="text-center">TODO: add links here</div>
      </div>
    </div>
  </div>
  <div class="lg:h-screen lg:overflow-y-scroll w-full lg:w-3/5">
    <app-navbar></app-navbar>
    <div #ref><ng-content></ng-content></div>
  </div>
</div>
