<main>
    <h1
        class="mb-2 text-4xl font-extrabold text-gray-900">Welcome
        to Cloud8 ☁️</h1>
    <p
        class="mb-4 text-lg font-normal text-gray-500">
        Our heads are in the clouds.</p>
    <a href="https://www.instagram.com/cloud8skate/" target="_blank"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Cloud8 IG
    </a>
</main>
<router-outlet></router-outlet>
