<div class="relative h-screen">
    <img class="absolute w-full h-full object-cover" src="assets/wallpaper.jpg"
        alt="Wallpaper">
    <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 mx-auto bg-black bg-opacity-50 rounded-lg"
        style=" max-width: 800px; width: 90vw;">
        <div class="mb-8">
            <h1
                class="text-5xl font-extrabold text-white text-center">Cloud8Skate</h1>
            <h2 class="text-white mb-4 text-xl text-center italic">Our heads
                are
                in the
                clouds.</h2>
        </div>
        <p class="text-white mb-4">Toronto based skate group dedicated to all
            those who get out and
            roller-skate,
            inline-skate, and have fun. Outdoor, Indoor, anywhere paved. We
            welcome all skill levels and fitness levels and will have various
            events targeted towards these different levels. <br /><br />
            Feel free to suggest events or message us!</p>
        <div class="flex justify-center">

            <a href="https://www.instagram.com/cloud8skate/" target="_blank"
                class="inline-flex items-center justify-center px-5 py-3 me-3 text-base font-medium text-center text-white bg-neutral-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Cloud8Skate
            </a>
            <a href="https://www.instagram.com/torontocityskate/"
                target="_blank"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-neutral-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                TorontoCitySkate
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
