<article
  class="media {% if request.endpoint != 'users.user_posts' %}content-section{% endif %}"
>
  <a href="{{ url_for('users.user_posts', username=post.author.username) }}">
    <img
      class="rounded-circle article-img"
      src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}"
    />
  </a>
  <div class="media-body">
    <div class="article-metadata clearfix">
      <a
        class="mr-2"
        href="{{url_for('users.user_posts', username=post.author.username) }}"
      >
        {{ post.author.username }}
      </a>
      <small class="text-muted"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
      {% if post.author == current_user %}
      <div class="d-md-inline-flex float-md-right">
        <button
          type="button"
          class="btn btn-secondary btn-sm mt-1 mb-1"
          data-toggle="modal"
          data-target="#updatePost{{post.id}}"
          }
        >
          Update Post
        </button>
        {% include 'posts/components/update-post-modal.html' %}
        <button
          type="button"
          class="btn btn-danger btn-sm m-1"
          data-toggle="modal"
          data-target="#deleteModal{{post.id}}"
        >
          Delete
        </button>
      </div>
      {% endif %}
    </div>
    <h2>
      <a
        class="article-title"
        href="{{ url_for('posts.post', post_id=post.id) }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% if request.endpoint == 'users.user_posts' %}
<hr />
{% endif %} {% include 'posts/components/delete-post-modal.html' %}
