<div class="text-white bg-gray-800 h-screen">
  <app-centered-app-layout>
    <div class="text-center pt-8 mb-8">
      <h1 class="text-3xl">harry liu</h1>
    </div>
    <div class="space-y-2 mb-8">
      <div *ngFor="let link of LINKS" class="text-center">
        <app-button-link [link]="link"></app-button-link>
      </div>
    </div>
    <div class="space-y-2 mb-8">
      <h2 class="text-xl text-center mb-4">Software</h2>
      <div *ngFor="let link of CAREER_LINKS" class="text-center">
        <app-button-link [link]="link" type="external"></app-button-link>
      </div>
    </div>
  </app-centered-app-layout>
</div>
