SHELL=/bin/sh
# */5 * * * * echo "Hello from cron, ${pwd}" >> /app/var/log/cron.log 2>&1 && cd /code && . venv/bin/activate && echo "hit" >> mid.txt && /usr/local/bin/python scripts/email_subscribers.py 5 && echo "done" >> /app/var/log/cron.log
*/1 * * * * cd /code && . venv/bin/activate  && /usr/local/bin/python scripts/email_subscribers.py 1 && echo "done" >> /app/var/log/cron.log
