SHELL=/bin/sh
echo '' > /code/hit.txt
* * * * * cd /code && python -m venv venv; . venv/bin/activate && /usr/local/bin/python scripts/email_subscribers.py 1 >> /code/debug.log 2>&1 && current_date=$(date "+%H:%M:%S   %d/%m/%y") && echo $current_date > /code/lastrun.txt
