<app-general-layout>
  <div class="w-11/12 lg:w-2/3 mx-auto pt-8 pb-8">
    <h1 class="text-lg mb-2">About me</h1>
    <p class="text-sm mb-2">
      {{ 'Hi! My name is Harry, a self taught web developer from Toronto,
      Canada. I am a passionate about computer programming and actually got into
      it out of hobby to automate small computer tasks at home. I was
      introducted to computer science in highschool and loved writing code since
      then, as a career and of work.' }}
    </p>
    <p class="text-sm mb-2">
      {{ 'I have many other passions outside of software development including
      latin social dancing, skateboarding, amateur djing, and freestyle rap to
      name a few.' }}
    </p>
  </div>
</app-general-layout>
