<div class="flex">
  <div
    class="h-screen overflow-y-scroll w-full md:w-1/5 pl-3 pt-2 border-r-2"
    [class.hidden]="
      appService.isMobile && markdownLibraryService.isFileSelected
    ">
    <div class="mb-2">
      <lib-link [link]="indexLink" [isBold]="true" type="internal"></lib-link>
    </div>
    <h1 class="text-xl font-bold mb-2">DocsMD</h1>
    <lib-folder-item
      *ngIf="fileContent$ | async as folderItem"
      [item]="folderItem"
      (fileEmitter)="selectFile($event)"></lib-folder-item>
  </div>
  <div
    class="h-screen overflow-y-scroll md:block md:w-4/5 pl-4 pr-4"
    [class.hidden]="
      appService.isMobile && !markdownLibraryService.isFileSelected
    ">
    <app-markdown-page
      *ngIf="markdownLibraryService.selectedFile"
      [filepath]="markdownLibraryService.selectedFile"></app-markdown-page>
  </div>
  <div
    class="absolute top-0 right-0 m-4 cursor-pointer"
    [class.hidden]="
      (appService.isMobile && !markdownLibraryService.isFileSelected) ||
      appService.isBrowser
    "
    (click)="close()">
    <div>X</div>
  </div>
</div>
