<div class="flex">
  <div
    class="h-screen overflow-y-auto w-full md:w-1/5 pl-3 pt-2 border-r-2"
    [class.hidden]="
      appService.isMobile && pageService.isFileSelected
    "
    >
    <div class="mb-2">
      <lib-link
        [link]="indexLink"
        [textClasses]="['font-medium']"
        type="internal"
      ></lib-link>
    </div>
    <h1 class="text-xl font-bold mb-2" (click)="selectFile()">DocsMD</h1>

    <!-- Reusable file search component -->
    <app-file-search
      [fileContent$]="fileContent$"
      [selectedFilepath]="pageService.selectedFilepath"
      [placeholder]="'Search .md files...'"
      [isTitleCase]="true"
      [fileFilter]="markdownFileFilter"
      (fileSelected)="selectFile($event)"
    ></app-file-search>
  </div>
  <div
    class="h-screen overflow-y-scroll md:block md:w-4/5 pl-4 pr-4"
    [class.hidden]="
      appService.isMobile && !pageService.isFileSelected
    "
    >
    <span id="section-to-print">
      @if (pageService.isFileSelected) {
        <lib-markdown-page
          [filepath]="pageService.getFilepath"
        ></lib-markdown-page>
      }
    </span>
  </div>
  <div
    class="absolute top-0 right-0 m-4 cursor-pointer"
    [class.hidden]="
      (appService.isMobile && !pageService.isFileSelected) ||
      appService.isBrowser
    "
    (click)="close()"
    >
    <div>X</div>
  </div>
</div>
