<!doctype html>
<html lang="en">
  <head>
    {% include 'layout-components/bootstrap4.html' %} {% if title %}
    <title>Flask App - {{title}}</title>
    {% else %}
    <title>Flask App</title>
    {% endif %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('main.home')}}">Web App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto"></div>
            <div class="navbar-nav">
              <li>
                <a
                  class="nav-item nav-link"
                  href="{{ url_for('main.contact') }}"
                  >Contact Us</a
                >
              </li>
            </div>
          </div>
        </div>
      </nav>
      <div style="background-color: black">
        <div class="container">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='images/camera.jpeg') }}"
          />
        </div>
      </div>
    </header>
    <div class="d-none">{% block showcase %}{% endblock showcase %}</div>
    <main class="container pt-3 pb-3">
      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/flowers.jpeg') }}"
                        alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pretty flowers~</h5>
                        <p>Sometimes you just gotta stop and smell the flowers.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/building.jpeg') }}"
                        alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Take yourself to new heights.</h5>
                        <p>Look TD towers! I actually worked across from here in the BMO building.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/home.jpeg') }}"
                        alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>We make cozy sites.</h5>
                        <p>Create a welcoming space for your users.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> -->
      <div class="row">
        <div class="col-12 pt-5 pb-5">
          <h1 class="text-center">About Us</h1>
        </div>
        <div class="col-6 pt-5 pb-5">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='images/car.jpeg') }}"
          />
        </div>
        <div class="col-6 pt-5 pb-5">
          <h3>Pros doing what pros do.</h3>
          <p>
            Here's a cool image of a nice looking car in the countryside that we
            got from unsplashed. Vroom vroom! Yeah we got all of our images from
            unsplash for this mock page but that shouldn't be a surprise at all.
          </p>
        </div>
        <div class="col-12 pt-5 pb-5">
          <h1 class="text-center">Services</h1>
        </div>
        <div class="col-6 pt-5 pb-5">
          <h3>Got the abstract on deck too.</h3>
          <p>
            Here's a cool image of a nice looking car in the countryside that we
            got from unsplashed. Vroom vroom! Yeah we got all of our images from
            unsplash for this mock page but that shouldn't be a surprise at all.
          </p>
        </div>
        <div class="col-6 pt-5 pb-5">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='images/abstract.jpeg') }}"
          />
        </div>
        <div class="col-12 pt-5 pb-5">
          <h1 class="text-center">Contact</h1>
        </div>

        <div class="col-6 pt-5 pb-5">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='images/products.jpeg') }}"
          />
        </div>
        <div class="col-6 pt-5 pb-5">
          <h3>Hit us up.</h3>
          <p>
            Can I get yo numba? No?? That's okay you can have ours, free of
            charge. Feel free to contact us about anything, all
            inquiries/insults/criticism is welcome!
          </p>
          <br />
          <h5>Email: harryliu1995@gmail.com</h5>
          <br />
          <h5>Phone: 647-608-2991</h5>
        </div>
      </div>
    </main>
    <footer class="bg-light pt-5 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h6>Shop</h6>
            <ul
              class="text-secondary"
              style="list-style: none; padding-left: 0"
            >
              <li class="pt-1 pb-1">Product 1</li>
              <li class="pt-1 pb-1">Product 2</li>
              <li class="pt-1 pb-1">Product 3</li>
              <li class="pt-1 pb-1">Product 4</li>
              <li class="pt-1 pb-1">Product 5</li>
              <li class="pt-1 pb-1">Product 6</li>
              <li class="pt-1 pb-1">Product 7</li>
              <li class="pt-1 pb-1">Product 8</li>
              <li class="pt-1 pb-1">Product 9</li>
            </ul>
          </div>
          <div class="col-3">
            <h6>Services</h6>
            <ul
              class="text-secondary"
              style="list-style: none; padding-left: 0"
            >
              <li class="pt-1 pb-1">Service 1</li>
              <li class="pt-1 pb-1">Service 2</li>
              <li class="pt-1 pb-1">Service 3</li>
              <li class="pt-1 pb-1">Service 4</li>
              <li class="pt-1 pb-1">Service 5</li>
            </ul>
            <h6>Account</h6>
            <ul
              class="text-secondary"
              style="list-style: none; padding-left: 0"
            >
              <li class="pt-1 pb-1">Manage Your Account</li>
            </ul>
          </div>
          <div class="col-3">
            <h6>Store</h6>
            <ul
              class="text-secondary"
              style="list-style: none; padding-left: 0"
            >
              <li class="pt-1 pb-1">Find a Store</li>
              <li class="pt-1 pb-1">Shop Online</li>
              <li class="pt-1 pb-1">Financing</li>
              <li class="pt-1 pb-1">Order Status</li>
              <li class="pt-1 pb-1">Shopping Help</li>
            </ul>
          </div>
          <div class="col-3">
            <h6>About</h6>
            <ul
              class="text-secondary"
              style="list-style: none; padding-left: 0"
            >
              <li class="pt-1 pb-1">Newsroom</li>
              <li class="pt-1 pb-1">Leadership</li>
              <li class="pt-1 pb-1">Job Opportunities</li>
              <li class="pt-1 pb-1">Investors</li>
              <li class="pt-1 pb-1">Events</li>
              <li class="pt-1 pb-1">Contact WebApp</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="text-secondary">
          Copyright © 2020 iamharryliu Inc. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
