<div class="bg-white shadow-md pt-8 pb-8 rounded-lg">
  <div class="w-11/12 mx-auto grid lg:grid-cols-2">
    <div class="w-11/12 mx-auto flex items-center">
      <div>
        <h2 class="text-2xl font-semibold mb-4">
          {{ 'HOME_PAGE.SECONDHAND_CARD.HEADER' | translate }}
        </h2>
        <p class="text-gray-700">
          {{ 'HOME_PAGE.SECONDHAND_CARD.BODY' | translate }}
        </p>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/3">
          <img
            src="/assets/secondhand_store1.jpg"
            alt="Image 1"
            class="w-full h-auto p-0.5"
          />
        </div>
        <div class="w-1/3">
          <img
            src="/assets/secondhand_store2.jpg"
            alt="Image 2"
            class="w-full h-auto p-0.5"
          />
        </div>
        <div class="w-1/3">
          <img
            src="/assets/secondhand_store3.jpg"
            alt="Image 3"
            class="w-full h-auto p-0.5"
          />
        </div>
      </div>
    </div>
  </div>
</div>
