# BetterAuth
BETTER_AUTH_SECRET="BETTER_AUTH_SECRET"
BETTER_AUTH_URL="http://localhost:4200"
# Google Auth/Calendar API
GOOGLE_AUTH_PROVIDER_CLIENT_ID="GOOGLE_AUTH_PROVIDER_CLIENT_ID"
GOOGLE_AUTH_PROVIDER_CLIENT_SECRET="GOOGLE_AUTH_PROVIDER_CLIENT_SECRET"
# LLM APIs
OPENAI_API_KEY="OPENAI_API_KEY"
