# Supabase
NEXT_PUBLIC_SUPABASE_URL="NEXT_PUBLIC_SUPABASE_URL"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY"
# VB Express API
VB_EXPRESS_URL="http://localhost:3333"
VB_EXPRESS_API_KEY="VB_EXPRESS_API_KEY"
