<div class="row gx-3">
  <div class="col-12 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/toronto.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Subscribe to Toronto Alerts</h5>
        <p class="card-text">
          TPS (Toronto Police Service) Alerts<br />
          TFS (Toronto Fire Service) Alerts
        </p>
        <a
          href="{{url_for('subscribe')}}"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TTC Service Alerts</h5>
        {% include 'components/ttc_route_alerts.html' %}
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Support the Project</h5>
        <p class="card-text">
          Any donations towards the Toronto Alerts team are greatly appreciated!
        </p>
        <a
          href="https://ko-fi.com/prettydamntired"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
  <hr class="mt-4 mb-4" />

  <h2 class="mb-4 text-center">Other Online Toronto Services</h2>

  <h3>TTC</h3>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/ttc.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Service Alerts</h5>
        <a
          href=" https://www.ttc.ca/service-alerts"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/ttc.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Email Alerts</h5>
        <a
          href="https://www.ttc.ca/my-ttc-eservices"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/ttc.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Alerts Twitter</h5>
        <a
          href="https://twitter.com/ttcnotices?lang=en"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <h3>TPS</h3>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/tps.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Toronto Police Service Maps</h5>
        <a
          href="https://data.torontopolice.on.ca/pages/maps"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <h3>Other</h3>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/storm.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Weather Alerts</h5>
        <a
          href="https://weather.gc.ca/warnings/report_e.html?on61="
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/gtaupdate.png')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">GTA Update Dashboard</h5>
        <a
          href="https://gtaupdate.com/"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</div>
