<div class="row gx-3">
  <div class="col-12 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/toronto.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Subscribe to Toronto Alerts</h5>
        <a
          href="{{url_for('subscribe')}}"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Support the Project</h5>
        <p class="card-text">
          Any contribution towards the Toronto Alerts team is appreciated. ❤️
        </p>
        <a
          href="https://ko-fi.com/prettydamntired"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <hr class="mt-4 mb-4" />

  <h3 class="mb-4">TTC</h3>

  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        {% if not ttc_alerts["notices"] and not ttc_alerts["route_alerts"] %} {%
        include 'components/ttc/ttc_no_alerts.html' %} {% else %} {% include
        'components/ttc/ttc_notices.html' %} {% include
        'components/ttc/ttc_route_alerts.html' %} {% endif %}

        <a
          href="{{url_for('ttc.index')}}"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  {% include 'components/ttc_links.html' %}

  <h3>TPS & TFS</h3>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/gtaupdate.png')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">GTA Update Dashboard</h5>
        <a
          href="https://gtaupdate.com/"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/tps.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Toronto Police Service Maps</h5>
        <a
          href="https://data.torontopolice.on.ca/pages/maps"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <h3>Other</h3>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/storm.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Weather Alerts</h5>
        <a
          href="https://weather.gc.ca/warnings/report_e.html?on61="
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</div>
