{% extends "layout.html" %} {% block content %}

<!-- Current User Posts Button / Create Post Button -->
<div class="mb-3">
  {% if current_user.is_authenticated %} {% include
  'posts/components/current-user-posts-button.html' %} {% include
  'posts/components/create-post-button.html' %} {% endif %}
</div>

<!-- Post -->
{% include 'posts/components/post-detail.html' %}

<!-- Update/Delete Modals -->
{% include 'posts/components/update-post-modal.html' %} {% include
'posts/components/delete-post-modal.html' %} {% endblock content %}
