/* body */

body {
  height: 100%;
  background: #fafafa;
  color: #333333;
  overflow-y: scroll;
}

.remove-anchor-styling {
  color: inherit !important;
  text-decoration: none !important;
}

header .fab,
header .fas,
.large-fab {
  font-size: 2.5rem;
}

.bg-steel {
  background-color: #234;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* Footer */

footer {
  background: #dcdcdc;
}

footer .fab,
footer .fas {
  font-size: 1.5rem;
  width: 2rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/* Bootstrap */

/* Fontawesome */

.fa-file-pdf {
  color: #a51b0b;
}
.fa-folder {
  color: #5cb85c;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-github {
  color: #000;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-youtube {
  color: #c4302b;
}
.fa-instagram {
  color: #fe4164;
}
.fa-facebook {
  color: #3b5998;
}

/* Post */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

@media (max-width: 576px) {
  .article-img {
    height: 45px;
    width: 45px;
  }
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/* User */

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Fix hr error */

hr {
  height: 1px;
}

/* Effects */

.fader {
  opacity: 0;
}

@media (max-width: 992px) {
  .span-uptolg {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .text-uptolg-center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .float-gt-lg-right {
    float: right;
  }
}
