<app-centered-app-layout>
  <h1 class="mb-4 text-2xl font-bold text-center">
    {{ 'VIBECHECK_LITE.HEADER' | translate }}
  </h1>
  <div class="text-sm" *ngIf="recommendation$ | async as data; else loading">
    <p [innerText]="data"></p>
  </div>
  <ng-template #loading>
    <div class="text-sm pt-48 pb-48">
      <div class="flex flex-col items-center justify-center mb-4">
        <app-spinner></app-spinner>
        <h2 class="mt-4 text-lg font-semibold text-gray-700">
          {{ 'VIBECHECK_LITE.LOADING.HEADER' | translate }}
        </h2>
      </div>
      <p class="text-center mb-4">
        {{ 'VIBECHECK_LITE.LOADING.MESSAGE' | translate }}
      </p>
    </div>
  </ng-template>
</app-centered-app-layout>
