{% extends 'layout.html' %} {% block content %}
<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>Google Calendar API Credentials</legend>
    <p>
      Download your Google Calendar API credentials from
      <a href="https://developers.google.com/calendar/quickstart/python"
        >here</a
      >
      and press the "ENABLE THE GOOGLE CALENDAR API" button. You will get a
      pop-up, click the create button in the bottom right and then click the
      <i>Download Client Configuration</i> button to download your Google
      Calendar API credentials file and upload it below.
    </p>
    <div class="form-group">
      {{ form.credential.label() }} {{
      form.credential(class="form-control-file") }} {% if form.credential.errors
      %} {% for error in form.credential.errors %}
      <span class="text-danger">{{ error }}</span><br />
      {% endfor %} {% endif %}
    </div>
    {{ form.submit(class="btn btn-dark") }}
  </fieldset>
</form>
{% endblock %}
