{% extends 'components/layout.html' %} {% block content %}

<form method="POST" action="{{ url_for('users.login') }}">
  {{ form.hidden_tag() }}

  <legend>Login Form</legend>
  <div class="form-group mb-3">
    {{ form.identification.label(class="form-label") }} {% if not
    form.identification.errors %} {{ form.identification(class="form-control ",
    autocomplete="off", placeholder='Username or Email Address') }} {% else %}
    {{ form.identification(class="form-control is-invalid", autocomplete="off",
    placeholder='Username or Email Address') }}
    <div class="invalid-feedback">
      {% for error in form.identification.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group mb-3">
    {{ form.password.label(class="form-label") }} {% if not form.password.errors
    %} {{ form.password(class="form-control ", placeholder='Password') }} {%
    else %} {{ form.password(class="form-control is-invalid",
    placeholder='Password') }}
    <div class="invalid-feedback">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-check mb-3">
    {{ form.remember(class="form-check-input") }} {{
    form.remember.label(class="form-check-label") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}
