<div *ngIf="item" class="item">
  <div *ngIf="item.type === 'folder'">
    <div (click)="toggle()">
      <span *ngIf="!expanded" class="folder">📁</span>
      <span *ngIf="expanded">📂</span>
      <span class="ml-2" [class.font-bold]="expanded">{{ item.name }}</span>
    </div>
    <div *ngIf="expanded" style="margin-left: 20px">
      <app-folder-item
        *ngFor="let child of item.children"
        [item]="child"
        (fileEmitter)="selectFile($event)"
      ></app-folder-item>
    </div>
  </div>
  <div *ngIf="item.type === 'file'">
    <span>📄</span>
    <span class="ml-2" (click)="selectFile(item.filepath)">{{
      item.name
    }}</span>
  </div>
</div>
