# Career
# Backup vb
0 0 * * * ping -c 1 8.8.8.8 > /dev/null 2>&1 && IS_CRON=true && PATH=/usr/sbin:/usr/bin:/sbin:/bin && source ~/.zshrc && cd ~/vigilant-broccoli/scripts/python/backup && source venv/bin/activate && python save_vigilant_broccoli.py
# Update Resume
0 0 * * * ping -c 1 8.8.8.8 > /dev/null 2>&1 && cp ~/My\ Drive/Career/Job\ Hunt/HarryLiu-Resume.pdf ~/vigilant-broccoli/projects/nx-workspace/apps/ui/personal-website-frontend/src/assets/HarryLiu-Resume.pdf
# Utility
# Download DJ Music
0 * * * * ping -c 1 8.8.8.8 > /dev/null 2>&1 && IS_CRON=true && PATH=/usr/sbin:/usr/bin:/sbin:/bin && source ~/.zshrc && cd $REPO_DIR/scripts/python/dj-scripts/spotify-to-mp3 && source venv/bin/activate && python download_music.py
# Scraping
# Scrape TTC Lines
* * * * * ping -c 1 8.8.8.8 > /dev/null 2>&1 && IS_CRON=true && PATH=/usr/sbin:/usr/bin:/sbin:/bin && source ~/.zshrc && cd vigilant-broccoli/scripts/python/scrape-ttc-lines && source venv/bin/activate && python scrape_ttc_lines.py
