<app-centered-app-layout>
  <app-card>
    <div class="text-center mb-8">
      <h1 class="text-3xl">harry liu</h1>
    </div>
    <div class="space-y-2 mb-8">

    </div>
    <div class="space-y-2 mb-8">
      <h2 class="text-xl text-center mb-4">Software Developer</h2>
      <div *ngFor="let link of CAREER_LINKS" class="text-center">
        <app-button-link [link]="link"></app-button-link>
      </div>
    </div>
    <h2 class="text-xl text-center mb-4">Web Applications</h2>
    <div class="space-y-2 mb-8">
      <div *ngFor="let link of APP_LINKS" class="text-center">
        <app-button-link [link]="link"></app-button-link>
      </div>
    </div>
    <div class="space-y-2 mb-8">

      <h2 class="text-xl text-center mb-4">Instagram</h2>
      <div *ngFor="let link of INSTAGRAM_LINKS" class="text-center">
        <app-button-link [link]="link"></app-button-link>
      </div>
    </div>
  </app-card>

</app-centered-app-layout>
