{% extends "layout.html" %} {% block content %}

<!-- Top bar -->
<div class="pb-3">{% include 'posts/components/functional-bar.html' %}</div>

<!-- Posts -->
{% if posts.total == 0 and request.endpoint=='posts.get_search'%}
<h4 class="text-center m-5">No posts match your search..</h4>
{% elif posts.total == 0%}
<h4 class="text-center m-5">There are no posts yet..</h4>
{% endif %} {% for post in posts.items %} {% include
'posts/components/post-detail.html' %} {% endfor %} {% include
'posts/components/pagination.html' %} {% endblock content %}
