{% extends 'components/layout.html' %} {% block content %}
<div class="row gx-3">
  <div class="col-12 mb-4">{% include 'tps_tfs_alerts_card.html' %}</div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/gtaupdate.png')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">GTA Update Dashboard</h5>
        <a
          href="https://gtaupdate.com/"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{url_for('static', filename='images/tps.jpg')}}"
        class="card-img-top"
        alt="Toronto"
      />
      <div class="card-body">
        <h5 class="card-title">Toronto Police Service Maps</h5>
        <a
          href="https://data.torontopolice.on.ca/pages/maps"
          class="stretched-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
